<!--ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Build Guide
    </ion-title>
    <ion-button slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</!--ion-header>


<!ion-content-->
  <!--ion-card *ngFor="let i of tmpobj">
    <ion-card-header>
      <img src="{{i.img}}">
      <!ion-card-subtitle>{{i.genre}}</-ion-card-subtitle-->
      <!--ion-card-title >{{i.name}}</!--ion-card-title>
    </ion-card-header -->
    <!--ion-card-content>
    <p>
      Normal Attack : {{i.Skills1}}
    <br>
      Elemental Skill : {{i.Skills2}}
    <br>
      Elemental Burst : {{i.Skills3}}
    </p>
    <br>
      Detail: {{i.Detail}}
    </!--ion-card-content>
  </ion-card -->

  <!--ion-button shape="round" color="success" expand="full" 
  (click)="presentPromptADD()">
    <ion-icon name="add-circle-outline"></ion-icon>&nbsp;&nbsp;ADD</!--ion-button>

    <ion-item-options side="end">
      <ion-item-option color="warning" (click)="presentPrompt(item)">
        <ion-icon name="create-outline"></ion-icon>EDIT
      </ion-item-option> 
      <ion-item-option color="danger" (click)="presentConfirm(item)">
        <ion-icon name="trash-outline"></ion-icon>DEL
      </ion-item-option>
    </ion-item-options>

</ion-content -->
